# Ignore node_modules in both frontend and backend
node_modules/
# Ignore build files in frontend (React)
frontend/build/
# Ignore environment variables
.env
# Ignore logs or other temporary files
*.log